.App {
  text-align: center;
  margin-top: 50px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

p {
  margin-top: 20px;
  font-style: italic;
}

.questionList{
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
}

.question{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  text-align: center;
}

.answerBox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  text-align: center;
  box-shadow: 2px 2px 0px #ededed;
  border: 1px solid #ededed;
  margin: 0px 20px 15px 20px;
  border-radius: 10px;
}